html {
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
  color: #fff;

}

section {
  background-image: -webkit-linear-gradient(#ff9500, #ff5e3a);
  background-image: -o-linear-gradient(#ff9500, #ff5e3a);
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

*, *::before, *::after {
  box-sizing: inherit;
}

.icon {
  color: #fff;
  margin-top: 1rem;
}

.card {
  border-bottom: solid 4px;
  border-color: #ff9500;

}

a .btn, .btn-ghost {
  color: #fff;
  border-color: rgba(255, 255, 255, .7);
}

.btn:hover {

  color: rgba(255, 255, 255, .7);
  border-color: rgba(255, 255, 255, 0);

}

@media only screen and (min-width: 60em) {

  .card {
    border-bottom: 0;
    margin-top: 1em;

    border-right: solid 3px;
    border-color: rgba(255, 255, 255, .7);
  }

  .card:nth-child(3) {
    border-right: solid 0;
  }

}
